nav ul{
  padding:3px;
  display:block;
}

nav ul li{
  border-top:1px #edffb2 solid;
  list-style-type:none;
  background-color:#425646;
  font-family:"Arimo", Helvetica, sans-serif;
  font-weight:700;
  font-size: 1.2em;
  /*float:left;*/
  margin:0;
  padding:0;
  /*width:25%;*/
}

nav ul li a:link, a:visited{
  text-decoration:none;
  color:#FFF;
  display:block;
  text-align:center;
  padding: 20px 30px;
}

nav ul li a:active, a:hover{
   background-color:#4a604e;
 }

 a:link, a:visited{
   text-decoration:underline;
   font-family:"Catamaran", Arial, sans-serif;
   color:#FFF;
   font-weight:200;
 }

.submenu{
  display:none;
}

.submenu li{
  font-family: "Arimo", Helvetica, sans-serif;
  font-size: 1em;
  font-style:italic;
  color:white;
  border-top: 1px #edffb2 solid;
}

.sidebar li{
  font-family:"Catamaran", Arial, sans-serif;
  color:#FFF;
  font-weight:200;
}

body{
  text-align:center;
  background-color:#e0e0db;
}


p{
  font-family: Garamond, "Times New Roman", serif;
  color:black;
  font-size:1em;
  line-height:1.1em;
}

h1{
  font-family:"Bree Serif", Georgia, "Times New Roman", serif;
  font-weight:400;
  color:#edffb2;
}

header{
  display:flex;
  flex-flow: row;
  align-items:baseline;
  background-color:#425646;
  margin:0;
  padding:0 10px;
}

h2{
  font-family:"Catamaran", Arial, sans-serif;
  font-size:1.8em;
  font-weight:500;
  color:#425646;
}

h3{
  font-family:"Catamaran", Arial, sans-serif;
  font-weight:500;
  color:#000;
}

li{
  list-style-type:none;
}

.wrapper{
  display:flex;
  flex-flow:wrap-reverse;
  justify-content:space-between;
}



.sidebar{
  flex: 1 auto;
  background:#425646;
  text-align:left;
  max-width:200px;
  margin:10px auto;
  order:1;
}

.main{
  flex-flow:row-reverse;
  text-align:left;
  max-width:550px;
  min-width:325px;
  order:2;
}

.clips{
  display:flex;
  flex:1 auto;
  flex-flow:wrap;
  order:3;
  max-width:300px;
  text-align:left;
  margin:15px;
  padding:10px;
  border-left: #425646 2px solid;
}

.preview img{
  display:flex;
  width:auto;
  width:40%;
  margin-right:10px;
  float:left;
}

.preview a:hover, a:active{
  background-color:transparent;
}

.dateline{
  font-family: Garamond, "Times New Roman", serif;
  font-size:0.8em;
  font-style:italic;
  line-height:0.2em;
}

.bio{
  max-width:400px;
  text-align:left;
  padding:15px;
}

iframe{
  margin-bottom:15px;
}

.sidebar, .main{
  flex:1 100%;
  padding:5px;
}

 .main-photo{
   width:200px;
   height:275px;
   margin-right:20px;
   float:left;
 }

 .menu-trigger{
   order:1;
   margin-right:20px;
 }

 nav ul{
   display:none;
 }

 .document{
   background:#fff;
   width:80%;
   margin:0 auto;
   padding:1.2em;
   text-align:left;
   max-width:875px;
 }

 .explainer{
   text-align:left;
   max-width:800px;
   margin:0 auto;
 }


  /*@media screen and (min-width:700px){
    nav ul{
      flex-flow:column;
      justify-content:flex-end;;
    }
  }*/

@media all and (max-width:599px){
  .bio{
    visibility:hidden;
    display:none;
  }

  .main{
    margin:0 auto;
    max-width:300px;
  }

  .main-photo{
    width:100%;
    height:0%;
    display:flex;
  }

}

@media all and (min-width:750px){
  nav ul li{
    border-top:none;
  }

  nav ul{
    display:flex;
  }

  header h1{
    order:1;
  }

  nav{
    order:2;
  }

  .menu-trigger{
    display:none;
  }
}

@media all and (min-width:800px){
  .wrapper{
    align-items:stretch;
  }

  .sidebar{
    flex:1 auto;
  }

  .main{
    flex:5 0px;
    flex-wrap:wrap-reverse;
  }

  .main{
    display:flex;
    flex-flow: row;
  }
}
