.navigation{
  padding:3px;
  display:flex;
  flex-flow:column;
}

.navigation li{
  list-style-type:none;
  background-color:#E19E9E;
  font-family:"Arimo", Helvetica, sans-serif;
  font-weight:700;
  /*float:left;*/
  margin:0;
  padding:0;
  width:25%;
}

.navigation a:link, a:visited{
  text-decoration:none;
  color:#FFF;
  display:block;
  text-align:center;
  padding: 4px;
}
.navigation a:active, a:hover{
   background-color:#F9CBCB;
 }

 @media all and (min-width:600px){
   .navigation{
     flex-flow:column;
     justify-content:flex-end;;
   }
 }

 @media all and (min-width:700px){
   .navigation{
     flex-flow:row;
     justify-content:space-around;
   }
 }


body{
  text-align:center;
  background-color:white;
}

.watermark{
  background-image: url("IMG_1841.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.4;
  width:100%
}

p{
  font-family:Helvetica, Arial, sans-serif;
  color:white;
  max-width:800px;
}

h1{
  font-family:"Bree Serif", Georgia, "Times New Roman", serif;
  font-weight:400;
  color:#FFFFFF;
  padding-top:5px;
}

h2{
  font-family:"Arimo", Lucida, sans-serif;
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}

h3{
  font-family:"Catamaran", Arial, sans-serif;
  font-weight:500;
  color:#FFFFFF;
}

li{
  list-style-type:none;
}

#container{
  background-color:#BCD9F5;
  width:92%;
  margin:0 auto;
}

.wrapper{
  display:flex;
  flex-flow: row wrap-reverse;
}

a:link{
  text-decoration:none;
  font-family:"Catamaran", Arial, sans-serif;
  color:#BE6B6B;
  font-weight:200;
}

.sidebar{
  flex: 1 auto;
  background:#5AA4EB;
}

.main{
  flex-flow:row-reverse;
  text-align:left;
}

.bio{
  max-width:400px;
  text-align:left;
  padding:15px;
}

.sidebar, .main{
  flex:1 100%;
  padding:5px;
}

 img{
   display:flex;
   width:100%;
   margin-right:20px;
 }

@media all and (max-width:599px){
  .bio{
    visibility:hidden;
    display:none;
  }
}

@media all and (min-width:800px){
  .wrapper{
    align-items:stretch;
  }

  .sidebar{
    flex:1 auto;
  }

  .main{
    flex:5 0px;
    flex-wrap:wrap-reverse;
  }

  .main{
    display:flex;
    flex-flow: row;
  }
}
