body{
  text-align:center;
  background-color:#5AA4EB;
}

p{
  font-family:Helvetica, Arial, sans-serif;
  color:white;
}

h1{
  font-family:"Bree Serif", Georgia, "Times New Roman", serif;
  font-weight:400;
  color:#FFFFFF;
  padding-top:5px;
}

h2{
  font-family:"Arimo", Helvetica, sans-serif;
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}

h3{
  font-family:"Catamaran", Arial, sans-serif;
  font-weight:500;
  color:#FFFFFF;
}

li{
  list-style-type:none;
}

#container{
  background-color:#BCD9F5;
  width:85%;
  margin:0 auto;
}

#nav{
  padding:3px;
}

#nav li{
  list-style-type:none;
  background-color:#E19E9E;
  font-family:"Arimo", Helvetica, sans-serif;
  font-weight:700;
  float:left;
  margin:0;
  padding:0;
  width:25%;
}

#nav a:link, a:visited{
  text-decoration:none;
  color:#FFF;
  display:block;
  text-align:center;
  padding: 4px;
}
 #nav a:active, a:hover{
   background-color:#F9CBCB;
 }

a:link{
  text-decoration:none;
  font-family:"Catamaran", Arial, sans-serif;
  color:#BE6B6B;
  font-weight:200;
}


img{
  border-style:none;
}
